<h1>Employee</h1>
<h3>London is the capital city of England.</h3>
<p>It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
<p>{{msg}}</p>

<div>
    <div style="width:49%; display: inline-block">
        <h4>New Data:</h4>
        First Name:<input type="text" ng-model="employee.firstName"> <BR>
        Last Name:<input type="text" ng-model="employee.lastName"><BR>
        Address:<input type="text" ng-model="employee.address"><BR>
        Company:<input type="text" ng-model="employee.company"><BR>            
        Salary:<input type="number" ng-model="employee.salary"><BR>
        <button ng-click="sendEmployeeData(employee)">Send!</button>
    </div>
    <div style="width:40%; display: inline-block;">
        <h4>Received Data:</h4>
        First Name:<input type="text" ng-model="employeePost.firstName"> <BR>
            Last Name:<input type="text" ng-model="employeePost.lastName"><BR>
            Address:<input type="text" ng-model="employeePost.address"><BR>
            Company:<input type="text" ng-model="employeePost.company"><BR>            
            Salary:<input type="number" ng-model="employeePost.salary"><BR>
    </div>
</div>