<h1>List Comanies Values</h1>

<button ng-click="getCompanies()">Click Here to List Company Values!</button>
<table>
    <tr>
            <th>Company</th>
            <th>Values</th>
    </tr>
    <tr ng-repeat="x in companies">
      <td>{{ x.company }}</td>
      <td>{{ x.value }}</td>
    </tr>
  </table>
